.cards {
    display: flex; /* Utiliza flexbox para organizar as cartas */
    justify-content: center; /* Centraliza as cartas horizontalmente */
    gap: 20px; /* Espaçamento de 20px entre as cartas */
    margin-top: 40px; /* Adiciona 40px de espaço acima das cartas */
}

.card {
    background-color: white; /* Define a cor de fundo da carta como branco */
    border-radius: 20px; /* Arredonda os cantos da carta com 20px */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave à carta */
    text-align: center; /* Centraliza o texto dentro da carta */
    padding: 20px; /* Adiciona espaçamento interno de 20px */
    width: 250px; /* Define a largura da carta como 250px */
}

    .card img {
        border-radius: 10px; /* Arredonda os cantos das imagens dentro das cartas */
    }

    .card h2 {
        font-size: 22px; /* Define o tamanho da fonte dos títulos (h2) como 22px */
        margin: 20px 0 10px; /* Adiciona margem de 20px acima, 10px abaixo e 0px nas laterais */
    }

    .card p {
        font-size: 16px; /* Define o tamanho da fonte dos parágrafos como 16px */
    }

    .card a, .card button {
        background-color: #ff5252; /* Define a cor de fundo dos botões e links como vermelho */
        color: white; /* Define a cor do texto como branco */
        border: none; /* Remove qualquer borda dos botões e links */
        padding: 10px 20px; /* Adiciona 10px de espaço vertical e 20px de espaço horizontal */
        border-radius: 20px; /* Arredonda os cantos com 20px */
        cursor: pointer; /* Define o cursor como pointer (mãozinha) ao passar sobre o elemento */
        display: inline-block; /* Exibe os botões e links como elementos inline-bloco */
        text-decoration: none; /* Remove a sublinha dos links */
        font-size: 16px; /* Define o tamanho da fonte dos botões e links como 16px */
    }

        .card button:hover, .card a:hover {
            background-color: #ff1744; /* Altera a cor de fundo para um vermelho mais escuro ao passar o mouse */
        }

.cartas-jogo {
    display: flex; /* Utiliza flexbox para organizar as cartas e botões */
    /* Distribui os elementos uniformemente com espaços iguais */
    align-items: center; /* Alinha verticalmente os elementos no centro do container */
    gap: 20px; /* Espaço entre os elementos */
    margin: 20px; /* Adiciona 20px de margem ao redor do container */
    flex-wrap: wrap; /* Permite que os elementos quebrem a linha quando não houver espaço suficiente */
    max-width: 100%;
    overflow-x: auto; /* Permite rolagem horizontal se necessário */
    transition: width 0.3s ease; /* Transição suave para o redimensionamento */
}
.carta {
    top: 50%;
    border: 2px solid #000; /* Adiciona uma borda preta de 2px ao redor da carta */
    padding: 10px; /* Espaçamento interno de 10px entre o conteúdo e a borda */
    text-align: center; /* Centraliza o conteúdo da carta */
    background-image: url(../images/image_4.jpeg); /* Define uma imagem de fundo para a carta */
    background-size: cover; /* Ajusta a imagem de fundo para cobrir toda a carta */
    /*background-position: center;*/ /* (Comentado) Define a posição da imagem de fundo no centro */
    color: white; /* Define a cor do texto como branco */
    font-weight: bold; /* Define o texto como negrito */
    border-radius: 15px; /* Arredonda os cantos da carta com 15px */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra à carta */
    width: 200px; /* Define a largura da carta como 200px */
}

.botao-entre, .botao-antes, .botao-depois {
    font-size: 16px; /* Define o tamanho da fonte dos botões como 14px */
    background-color: #ff5252; /* Define a cor de fundo dos botões como vermelho */
    color: white; /* Define a cor do texto dos botões como branco */
    border: none; /* Remove qualquer borda dos botões */
    border-radius: 20px; /* Arredonda os cantos dos botões com 20px */
    width: 80px;
    height: 50px;
}


.modal {
    position: fixed; /* Define a posição do modal como fixa na tela */   
    transform: translate(-50%, -50%); /* Centraliza o modal, ajustando sua posição em relação ao centro */
    background-color: white; /* Define a cor de fundo do modal como branco */
    padding: 30px; /* Adiciona 30px de espaçamento interno ao modal */
    border: 2px solid #000; /* Adiciona uma borda preta de 2px ao modal */
    z-index: 1000; /* Define a prioridade do modal sobre outros elementos da página */
    text-align: center; /* Centraliza o conteúdo textual dentro do modal */
    width: 300px; /* Define a largura do modal como 100px */
}

    .modal h2 {
        font-size: 24px; /* Define o tamanho da fonte dos títulos (h2) dentro do modal como 24px */
        margin-bottom: 15px; /* Adiciona 15px de margem abaixo do título */
    }

    .modal button {
        margin: 5px; /* Define uma margem de 5px ao redor dos botões dentro do modal */
    }

.musica_container {
    background-color: white; /* Define a cor de fundo da carta como branco */
    border-radius: 20px; /* Arredonda os cantos da carta com 20px */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave à carta */
    text-align: center; /* Centraliza o texto dentro da carta */
    padding: 20px; /* Adiciona espaçamento interno de 20px */
    width: 350px;
}