@page "/"
<link href="css/site.css" rel="stylesheet" />

<PageTitle>Home</PageTitle>
<div class="text-center">
    <h1 class="display-4">Nostalgia</h1>
</div>
<main>
    <section class="cards">
        <div class="card">
            <h2>Nostalgia </h2>
            <img src="images/image_1.jpg" alt="Musica_">
            <h2>Trivia musical </h2><br />
            <p><a href="/game">Jogar</a></p>
        </div>
        <div class="card">
            <h2>Nostalgia </h2>
            <img src="images/image_2.jpg" alt="Desenhar_">
            <h2>Imagem e advinhação</h2><br />
            <p><button>Jogar</button></p>
        </div>
        <div class="card">
            <h2>Nostalgia </h2>
            <img src="images/image_3.jpg" alt="Quiz_">
            <h2>Perguntas e resposatas</h2><br />
            <p><button>Jogar</button></p>
        </div>
    </section>
</main>
